UC2_Lib/SystemException_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- ====================================================================== --><!-- ===== System Exception Type							                                                        ===== --><!-- ====================================================================== --><!--
  	Scheme Owner: 		(exp: Enterprise Information and Data Architecture)
  	Scheme version:		(exp:  1.0)
  	Schema date: 		    (exp: March 2011)
  	
  	Copyright (C) New York Life (2009). All Rights Reserved.

	This document and translations of it may be copied and furnished to others, 
	and derivative works that comment on or otherwise explain it or assist 
	in its implementation may be prepared, copied, published and distributed, 
	in whole or in part, without restriction of any kind, provided that the 
	above copyright notice and this paragraph are included on all such copies 
	and derivative works. However, this document itself may not be modified in 
	any way, such as by removing the copyright notice or references to 
	New York Life Insurance Co.

	This document and the information contained herein is provided on an "AS IS"
	basis and NEW YORK LIFE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING 
	BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL 
	NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR 
	FITNESS FOR A PARTICULAR PURPOSE. 
--><!-- ====================================================================== --><!-- Modifications:                                                                                                                         --><!-- 09/21/2011                                                                                                                             --><!--      - Major Change  
Changed the ServiceException with NYL CoreBusinessTypes                                                                                                            --><!-- ====================================================================== --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://newyorklife.com/schemas/framework/systemexception" version="2.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:serviceexception="http://newyorklife.com/schemas/framework/serviceexception" xmlns:systemexceptionlocation="http://newyorklife.com/schemas/framework/systemexceptionlocation" xmlns:tns="http://newyorklife.com/schemas/framework/systemexception">
	<xsd:import namespace="http://newyorklife.com/schemas/framework/serviceexception" schemaLocation="ServiceException_2.xsd">
	</xsd:import>
	<xsd:import namespace="http://newyorklife.com/schemas/framework/systemexceptionlocation" schemaLocation="SystemExceptionLocation_1.xsd"/>
	<xsd:annotation>
		<xsd:documentation>
			Define base System Exception class
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element ibmSchExtn:docRoot="true" name="SystemException" type="tns:SystemExceptionType">
		<xsd:annotation>
			<xsd:documentation>
				Elements for System Exception message
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SystemExceptionType">
		<xsd:annotation>
			<xsd:documentation>
				Represents all system exceptions (non-business). All
				services must throw this exception.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="serviceexception:ServiceExceptionType">
				<xsd:sequence>
					<xsd:element default="SERVICE_SIDE" name="Location" type="systemexceptionlocation:SystemExceptionLocationType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>